{%  extends 'base.html' %}

{%  block page_content %}

        <div class="body-content-wrapper">
             <div class="body-heading">
                 <h1 class = "body-header"> Order Book </h1>
             </div>
             <hr>
            <div id = "order-content">
                {% for key, value in order_book.items() %}
                    {% for order in value %}
                        <div class = "order-row">
                            {{order}}
                        </div>
                    {% endfor %}
               {% endfor %}
            </div>
        </div>
{%  endblock %}