{%  extends 'base.html' %}

{%  block page_title %} Home {%  endblock %}

{%  block page_content %}
     <section class="body-page-wrapper">
        <div class="body-content-wrapper">
             <div class="body-heading">
                 <h1 class = "body-header"> Order Book </h1>
             </div>
             <hr>
            <div id = "order-content">
                {% for key, value in order_book.items() %}
                    {% for order in value %}
                        <div class = "order-row">
                            {{order}}
                        </div>
                    {% endfor %}
               {% endfor %}
            </div>
        </div>


        <div class="body-content-wrapper">
            <div class="body-heading">
                <h1 class="body-header"> Enter Order</h1>
            </div>
            <hr>

            <div id="setting-content">
                <form action="" method="POST" id="form" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.message_type.label }}
                        {{ form.message_type(size=40, class='select-box', value = O)}}
                    </p>
                    <p>
                        {{ form.order_token.label }}
                        {{ form.order_token(size=40, placeholder = '0', class='select-box',value = 0)}}
                    </p>
                    <p>
                        {{ form.client_reference.label }}
                        {{ form.client_reference(size=40, placeholder = '0', class='select-box',value = 0)}}
                    </p>
                    <p>
                        {{ form.indicator.label }}
                        {{ form.indicator(size=40, placeholder = '0', class='select-box',value = 0)}}
                    </p>
                    <p>
                        {{ form.quantity.label }}
                        {{ form.quantity(size=40, placeholder = '0', class='select-box',value = 0)}}
                    </p>
                    <p>
                        {{ form.orderbook_id.label }}
                        {{ form.orderbook_id(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.group.label }}
                        {{ form.group(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.price.label }}
                        {{ form.price(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.time_in_force.label }}
                        {{ form.time_in_force(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.time_in_force.label }}
                        {{ form.time_in_force(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.firm_id.label }}
                        {{ form.firm_id(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.display.label }}
                        {{ form.display(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.capacity.label }}
                        {{ form.capacity(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.minimum_quantity.label }}
                        {{ form.minimum_quantity(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.order_classification.label }}
                        {{ form.order_classification(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.cash_margin_type.label }}
                        {{ form.cash_margin_type(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>

                    <p>
                        {{ form.submit()}}
                    </p>

                </form>

            </div>
        </div>
    </section>


{%  endblock %}