{%  extends 'base.html' %}

{%  block page_title %} Home {%  endblock %}

{%  block page_content %}
     <section class="body-page-wrapper">

        <div class="body-content-wrapper">
            <div class="body-heading">
                <h1 class="body-header"> Enter Order</h1>
            </div>
            <hr>

            <div id="setting-content">
                <form action="" method="POST" id="form" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.message_type.label }}
                        {{ form.message_type(size=40, class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.existing_order_token.label }}
                        {{ form.existing_order_token(size=40, placeholder = '0', class='select-box',value = 0)}}
                    </p>
                    <p>
                        {{ form.replacement_order_token.label }}
                        {{ form.replacement_order_token(size=40, placeholder = '0', class='select-box',value = 0)}}
                    </p>
                    <p>
                        {{ form.quantity.label }}
                        {{ form.quantity(size=40, placeholder = '0', class='select-box',value = 0)}}
                    </p>
                    <p>
                        {{ form.price.label }}
                        {{ form.price(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.time_in_force.label }}
                        {{ form.time_in_force(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.display.label }}
                        {{ form.display(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>
                    <p>
                        {{ form.minimum_quantity.label }}
                        {{ form.minimum_quantity(size=40, placeholder = '0', class='select-box', value = 0)}}
                    </p>

                    <p>
                        {{ form.submit()}}
                    </p>

                </form>

            </div>
        </div>
    </section>


{%  endblock %}